[submodule "third_party/libsrtp"]
	path = third_party/libsrtp
	url = https://github.com/LouisAE/libsrtp.git
[submodule "third_party/coreHTTP"]
	path = third_party/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP
[submodule "third_party/coreMQTT"]
	path = third_party/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT
